/*Over Body*/
html {
  background-color: #e7e6e1;
  font-family: 'Roboto', sans-serif;
}

.fontBigger {
  font-size: 1.2em;
}

.wrap {
  margin: 0 15%;
}

h1 {
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-weight: lighter;
}

/*Header Section*/
header {
  text-align: center;
  margin-bottom: 50px;
}

.sample {
    width: 100%;
}

.navBar {
  margin-bottom: 30px;
  padding: 2px 0;
  /* padding: 0px 15%; */
  background-color: black;
  text-align: center;
}

.navBarLink {
  font-size: 2vw;
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px white solid;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 15px 20px;
  width: 10%;
}

.fast-contact {
  display: inline-block;
}

ul {
  margin-right: 20px;
  width: 100%;
}

li {
  float: left;
  margin: 0 40px;
}

.navBarLink:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.myPic {
  border-radius: 4px;
  width: 200px;
  height: auto;
}

/*Main Section*/
main {
  text-align: center;
}

hr {
  width: 20%;
  border: 2px solid black;
  font-weight: bolder;
}

.main-pBox {
  margin: 30px 12% 90px 12%;
  display: inline-block;
  font-size: 1.2em;
}

.main-pBox > ol{
  list-style: none;
  margin-right: 45px;
}

/* .aboutP {
  text-align: left;
} */

/* .sklls {
  width: 100%;
} */

.skillEmo {
  width: 12%;
  font-size: 4.5em;
  margin: 30px 10px 0 10px;
}

.margin-top {
  margin-top: 90px;
}

.middle {
  text-align: center;
}

table {
  margin: 30px 10px 0 10px;
  /* border: 1px solid black; */
  width: 100%;

}

td {
  /* border: 1px solid black; */
  width: 50%;
}

.port-pic {
  width: 80%;
  height: auto;
  border-radius: 4px;
}

/* @media (max-width: 300px) {
  .port-pic {
      width: 8em;
      height: 8em;
  }
} */

.contact {
  margin-top: 90px;
  /* padding: 0px 15%; */
  background-color: black;
  text-align: center;
  padding: 25px 0;
}

.footEmo {
  font-size: 3em;
  color: white;
  margin: 0 15px;
  background-color: black;
}

.opening {
  margin-bottom: 15px;
  color:  white;
  background-color: black;
}

.ending {
  margin-top: 15px;
  color:  white;
  background-color: black;
}

.highlight {
  text-decoration: underline;
}

/* .footLink {
  margin: 2px 4px;
} */
